<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edittext"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.media.MainMediaActivity"></activity>
        
        <activity android:name="com.example.net.NetActivity"></activity>
        <activity android:name="com.example.net.NetUI"></activity>
        <activity android:name="com.example.net.Activity02"></activity>
        <activity android:name="com.example.net.Activity03"></activity>
        <activity android:name="com.example.net.Activity04"></activity>
        <activity android:name="com.example.net.WebkitActivity"></activity>
        
        <activity android:name="com.example.game.GameViewActivity"></activity>
        <activity android:name="com.example.game.GameSurViewActivity"></activity>
        <activity android:name="com.example.playtab.MainTabActivity"></activity>
        <activity android:name="com.example.button.ButtonActivity" />
        <activity android:name="com.example.mygraphics.GameCanvasActivity" />
        <activity android:name="com.example.mygraphics.GameView1Activity"/>
        <activity android:name="com.example.mygraphics.GameFontActivity"></activity>
        <activity android:name="com.example.mygraphics.GameViewBitmapActivity"></activity>
        <activity android:name="com.example.mygraphics.GameViewRotateActivity"></activity>
        <activity android:name="com.example.mygraphics.GameViewScaleActivity"></activity>
        <activity android:name="com.example.mygraphics.GameViewShaderActivity"></activity>
        <activity android:name="com.example.mygraphics.GameViewDoubleBufferActivity"></activity>
        <activity android:name="com.example.mygraphics.GameViewTweenActivity"></activity>
        <activity android:name="com.example.mygraphics.GameViewFrameActivity"></activity>
        <activity android:name="com.example.mygraphics.GameViewGifActivity"></activity>
        
        
        <activity android:name="LearnRadioButton"></activity>
        <activity android:name="learnCheckBox"></activity>
        <activity android:name="learnSpinner"></activity>
        <activity android:name="auto"></activity>
        <activity android:name="date"></activity>
        <activity android:name="menu"></activity>
        <activity android:name="menu1"></activity>
        <activity android:name="LearnDialog"></activity>
        <activity android:name="LearnImagebutton"></activity>
        <activity android:name="gallery"></activity>
        <activity android:name="imageSwitcher"></activity>
        <activity android:name="gridView"></activity>
        <activity android:name="scroll"></activity>
        <activity android:name="Probar"></activity>
        <activity android:name="Seek"></activity>
        <activity android:name="Notify"></activity>
        <activity android:name="Notify2"></activity>
        <activity android:name="ProDia"></activity>
        <activity android:name="get"></activity>
        <activity android:name="TabLayout"></activity>
        <activity android:name="TabWid"></activity>
        <activity android:name="com.example.edittext.AndyGame"></activity>
        <activity android:name="com.example.media.MySurface"></activity>
        
        
        
        
        
    </application>

</manifest>
